<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>protegido/busca_catalogacao.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/error.html</location>
    </error-page>
    <security-constraint>
        <display-name>Example Security Constraint - part 1</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area - Allow methods</web-resource-name>
            <!-- Define the context-relative URL(s) to be protected -->
            <url-pattern>/protegido/*</url-pattern>
            <!-- If you list http methods, only those methods are protected so -->
            <!-- the constraint below ensures all other methods are denied     -->
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>ServletDeCatalogo</servlet-name>
        <servlet-class>ufrj.bibliopdf.ServletDeCatalogo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDeCatalogo</servlet-name>
        <url-pattern>/catalogo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSaveNew</servlet-name>
        <servlet-class>ufrj.bibliopdf.ServletSalvarMetadados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ufrj.bibliopdf.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSaveNew</servlet-name>
        <url-pattern>/salvar</url-pattern>
    </servlet-mapping>
<!--    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ufrj.bibliopdf</servlet-class>
        <multipart-config>
            <location>/</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ufrj.bibliopdf.ApplicationConfig</servlet-name>
        <multipart-config>
            <location>/</location>
            <max-file-size>    35000000000</max-file-size>
            <max-request-size>218018841000</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ufrj.bibliopdf.ApplicationConfig</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>terceiroTrabalho</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
</web-app>
